#	hooks/var-git-test.example  3.238.342  2019-08-10T14:31:04.415646-05:00 (CDT)  https://github.com/BradleyA/user-files.git  uadmin  one-rpi3b.cptx86.com 3.237-8-g4fee207  
#	   hooks/var-git-test.example renamed:    hooks/var-git-test.example -> hooks/GIT-VARIABLES-EXAMPLES.sh 
